@use "./stylesheets/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Honk&family=Roboto:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap");

/* Reset everything */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  color: #000;
  background-color: $background-color;
}

body {
  font-size: 16px;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input,
select,
textarea {
  font: inherit;
  background: none;
  border: none;
  outline: none;
  color: inherit;
}

:focus {
  outline: 2px solid #0078d4;
  outline-offset: 2px;
}

/* App specific styles */

#root {
  height: 100%;
  width: 100%;

  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  font-family: "Roboto", sans-serif;
  font-weight: 600;

  max-width: 1400px;
  margin: auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 0;
  background-image: url("./assets/banner.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 2rem;
  border-radius: $border-radius;
  width: 90%;
}

h2 {
  font-family: "Teko", sans-serif;
}

h1 {
  font-family: "Honk", system-ui;
  padding: 1rem;
  font-size: 5rem;
  color: white;
}

.how-many {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  width: fit-content;
  text-align: center;
  padding-top: 2rem;
  cursor: pointer;
  padding-bottom: 0.6rem; // no flickering on hover

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  input {
    width: 3rem;
    text-align: center;
  }

  &:hover {
    button {
      opacity: 1;
    }

    .how-many__buttons {
      &__plus {
        top: -2.4rem;
      }
      &__minus {
        bottom: -2.5rem;
      }
    }
  }

  &__buttons {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;

    button {
      position: absolute;
      opacity: 0;
      display: flex;
      justify-content: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.3);
      padding: 0.2rem;
      font-weight: 700;
      width: 6rem;
      cursor: pointer;

      transition: opacity 0.2s, top 0.2s, bottom 0.2s;
    }

    &__plus {
      top: -3rem;
      left: 50%;
    }

    &__minus {
      padding-top: 0.5rem;
      bottom: -3rem;
      left: 50%;
    }
  }
}

/* Show buttons on touch devices */

@media (pointer: coarse), (hover: none) {
  .how-many__buttons button {
    opacity: 1;
  }
}
